:root {
    --spacer-sm: 10px;
    --spacer-md: 15px;
    --spacer-lg: 25px;
    --spacer-xl: 40px;
    --spacer-xxl: 60px;

    --container-width: 240px;
    --extra-width: 280px;

    --paragraph-margin: 1.7rem;
    --paragraph-max-width: 700px;
    --paragraph-padding: var(--spacer-md);
    --extra-wide-max-width: 800px;

    @media all and (width >= 330px) {
        --container-width: 300px;
        --extra-width: 320px;
    }

    @media all and (width >= 360px) {
        --container-width: 320px;
        --extra-width: 360px;
    }

    @media all and (width >= 390px) {
        --container-width: 350px;
        --extra-width: 390px;
    }

    @media all and (width >= 700px) {
        --container-width: 660px;
        --extra-width: 700px;
    }

    @media all and (width >= 768px) {
        --container-width: 750px;
        --extra-width: 768px;
    }

    @media all and (width >= 900px) {
        --container-width: 860px;
        --extra-width: 900px;
    }

    @media all and (width >= 1000px) {
        --extra-wide-max-width: 900px;
    }

    @media all and (width >= 1100px) {
        --container-width: 860px;
        --extra-width: 1000px;
    }
}

.container {
    width: var(--container-width);
    margin: 0 auto;
}

.container-extra {
    width: var(--extra-width);
    margin: 0 auto;
}

hr {
    clear: both;
}
