* {
  box-sizing: border-box;
}

html {
  background: var(--color-bg);
  color: var(--color-fg);
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;
}

*:focus {
  --color-focus: var(--color-secondary);
  outline: 0;
  box-shadow: 0 0 0 0.2rem var(--color-focus);
}

img,
iframe {
  max-width: 100%;
  height: auto;
}

pre,
code {
  font-family: monospace;
}

button {
  display: block;
  appearance: none;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  color: var(--color-fg);
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
}
