html,
body {
  line-height: 1.3;
  font-family: var(--base-font-family);
  font-weight: var(--base-font-weight);
  font-size: var(--base-font-size);
}

a {
  color: var(--color-primary);
}

::selection {
  background-color: var(--blue);
}

h1, h2, h3, h4, h5, h6 {
  /*noinspection CssNoGenericFontName*/
  font-family: var(--h-font-family);
  font-weight: var(--h-font-weight);
}

p {
  margin: 0.2rem 0 0.8rem;
}
