@import "global/colors";
@import "global/normalize";
@import "global/layout";
@import "global/typography";

* {
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  margin: 0;
  position: relative;
  overflow-x: hidden;
}
