@use "global/_colors";
@use "global/_normalize";
@use "global/_layout";
@use "global/_typography";

* {
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  margin: 0;
  position: relative;
  overflow-x: hidden;
}
