---
import {getCollection} from "astro:content";

import PageLayout from '@layouts/PageLayout.astro';
import WorldMap from '../components/map/WorldMap.astro';

const allPosts = (await getCollection('blog', ({ data }) =>
	data.draft !== true
)).sort(
(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const allCountries = Array.from(new Set(allPosts.map((post) => (post.data.countries)).flat()));
---

<PageLayout title="Destinations" description="All the Halfway To Go destinations. Browse all the countries where I've been.">
	<h1>Destinations</h1>
	<WorldMap
		links={allCountries.map((contryCode) => (
			{code: contryCode, link: "/fololo"}
		))}
	/>
</PageLayout>
