---
import '../styles/components/footer.scss'
---

<footer class="site-footer">
	<div class="container">
		<div class="footer-column">
			<p class="footer-header">Popular Posts</p>
			<nav class="footer-links">
				<ul>
					<li><a href="/">What’s in my camera bag?</a></li>
					<li><a href="/">How do I pay for full-time travel?</a></li>
					<li><a href="/">Is Bhutan really worth $250 per day?</a></li>
					<li><a href="/">Is Pakistan safe for travel?</a></li>
					<li><a href="/">My brush with death in Tajikistan</a></li>
				</ul>
			</nav>
		</div>

		<div class="footer-column">
			<p class="footer-header">Food Guides</p>
			<nav class="footer-links">
				<ul>
					<li><a href="/">Paris food guide</a></li>
					<li><a href="/">New York food guide</a></li>
					<li><a href="/">Rome food guide</a></li>
					<li><a href="/">Venice food guide</a></li>
					<li><a href="/">London food guide</a></li>
				</ul>
			</nav>
		</div>

		<div class="footer-column">
			<p class="footer-site-title">Halfway<br> to go</p>
			<p class="copyright">
				&copy; 2024. Fernando Paredes
			</p>
			<nav class="legal-links">
				<ul>
					<li><a href="/">Privacy Policy</a></li>
				</ul>
			</nav>
		</div>
	</div>
</footer>
