---
import { SITE_TITLE } from '../consts';
---

<header>
	<h2><a href="/">{SITE_TITLE}</a></h2>
	<nav>
		<div class="internal-links">
			<a href="/destinations">Destinations</a>
			<a href="/blog">Blog</a>
			<!--<a href="/about">City Guides</a>-->
			<a href="/about">Who Am I?</a>
			<a href="/about">Contact</a>
			<a href="/">Instagram</a>
		</div>
	</nav>
</header>
