---
import NavBar from "./NavBar.astro";
const { title, pubDate } = Astro.props;
---

<header class="site-header">
	<div class="hero-cover"></div>

	<NavBar />

	<h1>{title}</h1>
</header>

<style lang="scss">
	.site-header {
		height: 100vh;
		--color-fg: var(--color-light);
		overflow: hidden;

		@media (min-width: 600px) {
			height: 300px;
		}
	}

	.hero-cover {
		position: absolute;
		top: 0;
		z-index: -1;
		width: 100%;
		height: 100vh;
		background: linear-gradient(to bottom, rgba(0,0,0,.4), rgba(0,0,0,.2));;
	}

	img {
		position: absolute;
		top: 0;
		z-index: -2;
		width: 100%;
		height: 100vh;
		object-fit: cover;
		background: var(--color-dark);
	}

	h2 {
		margin: 25vh auto 0;
		padding: var(--spacer-md);
		color: var(--color-fg);
		text-transform: lowercase;
		display: block;
		font-size: 2.1rem;
		width: fit-content;
		line-height: 1.1;

		@media (min-width: 576px) {
			font-size: 7vw;
		}

		@media (min-width: 992px) {
			font-size: 6.313rem;
		}
	}
</style>
